.categoriesSelect {
  & > span {
    display: block;
    font-size: 14px;
    color: rgba(0, 0, 0, 0.6);
    line-height: 1.4375em;
    letter-spacing: 0.00938em;
    margin-left: 14px;
    margin-bottom: 8px;
  }
}

.wrapper {
  display: flex;
  flex-wrap: wrap;
}

.checkbox {
  cursor: pointer;
  width: 80px;
  display: flex;
  align-items: center;

  span {
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%;
    letter-spacing: 0.15px;
  }
}

.disabled {
  span {
    color: #00000061;
  }
}
