.tableControl {
  position: relative;
  padding: 0 5px 0 5px;
  z-index: 1000;
  display: flex;
  gap: 10px;
  align-items: center;
}

.datePickers {
  width: 300px;
  display: flex;
  justify-content: space-between;
  column-gap: 16px;
  background: #fafafa;
  align-items: center;

  input {
    padding: 4px 8px;
    font-size: 14px;
    line-height: 20px;
    letter-spacing: 0.25px;
    border: 1px solid #e0e0e0;
    background: white;
    border-radius: 4px;
    height: 30px;
    width: 143px;
  }
}
